{% extends "chat_app/base.html" %}
{% block content %}
    <h1>About Web Chat</h1>
    <div>
        A web chat is a system that allows users to communicate 
        in real-time using easily accessible web interfaces. 
        It is a type of Internet online chat distinguished by 
        its simplicity and accessibility to users who do not wish 
        to take the time to install and learn to use specialized 
        chat software.This trait allows users instantaneous access 
        and only a web browser is required to chat. Users will always 
        get the latest version of a chat service because no software 
        installation or update are required.
    </div><br><br>
    <div>
        <h3>Used technologies:</h3>
        <h5>Frontend:</h5>
        <ul>
            <li>HTML</li>
            <li>CSS & Bootstrap</li>
            <li>JavaScript & Jquerry</li>
        </ul><br>
        <h5>Backend:</h5>
        <ul>
            <li>Python & Django Framework</li>
            <li>Channels & Channels_Redis</li>
            <li>Database Sqlite</li>
        </ul>
    </div>
{% endblock content %}
